mini.txt
jabberwocky.txt
avocate_mange.txt
h1000.txt
mini_gold.txt
output.txt
cat.csv
mini_gold_supertag_errors.txt
output_supertag_errors.txt
super.txt
supertag.csv
supertag_target.csv
test_gold.txt
tagged*.txt
word.csv
